<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskly - Home</title>
</head>
<body>
    <h1>
        <%= message %>
    </h1>
    <br>
    <button><a href="/user/login">Login</a></button>
    <br><br>
    <button><a href="/user/signup">Signup</a></button>
</body>
</html>