<form action="/user/login" method="post">
<label for="email">Email</label><br>
<input type="email" id="email" name="email"><br>
<label for="password">Password</label><br>
<input type="password" id="password" name="password"><br><br>
<input type="submit" value="Submit">
</form>

<p>Don't have an account? Signup <a href="/user/signup">here</a></p>

<!-- <script>
    document.getElementById('loginForm').addEventListener('submit', async function (event) {
        event.preventDefault(); // Prevent form from submitting the default way

        const formData = new FormData(this);
        const data = {
            email: formData.get('email'),
            password: formData.get('password')
        };

        try {
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();

            if (response.ok) {
                // Redirect to the dashboard
                window.location.href = result.redirectUrl;
            } else {
                // Handle error
                alert(result.message);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script> -->