<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Boards</title>
</head>
<body>
    <h1>Welcome, <%= user.first_name %>!</h1>
    <h2>Your Boards</h2>
    
    <ul>
        <% boards.forEach(board => { %>
            <li><%= board.name %></li><a href="/boards/update-board/<%= board._id %>"><button>Update Board</button>
                <!-- Delete Button -->
                <form action="/boards/delete-board/<%= board._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Delete Board</button>
                </form>
        <% }) %>
    </ul>
</body>
</html>